<element>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>uploadfile</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SaveServlet</display-name>
    <servlet-name>SaveServlet</servlet-name>
    <servlet-class>demo.SaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveServlet</servlet-name>
    <url-pattern>/SaveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteServlet</display-name>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>demo.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditServlet1</display-name>
    <servlet-name>EditServlet1</servlet-name>
    <servlet-class>demo.EditServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditServlet1</servlet-name>
    <url-pattern>/EditServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditServlet2</display-name>
    <servlet-name>EditServlet2</servlet-name>
    <servlet-class>demo.EditServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditServlet2</servlet-name>
    <url-pattern>/EditServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewServlet</display-name>
    <servlet-name>ViewServlet</servlet-name>
    <servlet-class>demo.ViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewServlet</servlet-name>
    <url-pattern>/ViewServlet</url-pattern>
  </servlet-mapping>
  </web-app>
</element>